* {
    margin: 0;
    padding: 0;

}

.home__container {
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 3vh;
}

.home_heading {
    font-size: 60px;
    color: #4a6156;
}

.home__container--bottom {
    height: 5vh;
    background-color: #95aea3;
}

.home__container--aside {
    flex-basis: 33%;
    height: fit-content;
    max-height: 400px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2vh;
    color: #000000;
}

.home__container--image {
    max-height: 250px;
    max-width: 300px;
}

.home__container--socialmedia {
    margin: auto;
    width: auto;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home__social-media-icons {
    width: 20px;
    height: 20px;
    color: black;
}


@media only screen and (max-width: 800px) {
    .home_heading {
        font-size: 40px;
        text-align: center;
        color: rgb(92, 0, 0);
    }

    .home__container {
        background-color: #ffffff;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 15vh;
    }

    .home__container--bottom {
        display: none;
    }
    
    .home__container--aside {
        flex-basis: 90%;
        height: fit-content;
        max-height: 400px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin: 2vh;
        padding: 2vh;
        color: #000000;
    }
}